body
{
	background-color: #f2f2f2;
	<!--background-image: url('../images/bkg.jpeg');-->
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-left: 15em;
	padding-right: 15em;
	color: #5d2323;
	
}

h1
{
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

ul
{
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

ul.navbar
{
	list-style-type: none;
	position: absolute;
	top: 2em;
	left:1em;
	width: 10em;
}

ul.navbar li
{
	background: #4d0000;
	margin: 0.5em;
	padding: 1em;
	border: 1em solid maroon;
	border-left: 1em solid brown;
	border-right: 1em solid brown;
}

a:link
{
	color: #3333ff;
}

a:visited
{
	color: #d98c8c;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

img.textwrap
{
	float: center;
	margin: 5px;
}